# Data Types and Structures Theoratical Questions

Q1-> What are data structures, and why are they important?
    ->Data structure are the way of organizing and storing data, so that it can be acessed and            manipulated efficiently
    ->The right data structure improves time and space complexity.

Q2-> Explain the difference between mutable and immutable data types with examples
    ->Mutable data structures are those which value can be modified
    ->ex- List,Set,Dictionary,
    ->Immutable data structure are those which value can not be modified
    ->ex- String,Tupple

Q3-> What are the main differences between lists and tuples in Python?
        List                                   Tupple
    ->List is mutable                      ->Tupple is immutable
    ->Due to mutablity it                  ->Due to immutability, 
      has more methods like                  it has less method
      append(),remove(),add()etc..           count(), index()
    ->Use more memory                      ->Use less memory

Q4-> Describe how dictionaries store data?
    ->dictionary is a data structure that stores data as key value pair
    ->Keys are unique and immutable
    ->but values are mutable

Q5-> Why might you use a set instead of a list in Python?
    ->Set does not store dupplicate element while list stores duplicate elements

Q6-> What is a string in Python, and how is it different from a list?
    ->String is immutable while list is mutable
    ->String stores homogenous datatype i.e charector while lsit stores heterogenous data types
    ->String can not modified directly through index but list can

Q7-> How do tuples ensure data integrity in Python?
    ->A tuple in Python is an immutable data structure, meaning its elements cannot be changed          after creation. 
    ->This immutability plays a key role in ensuring data integrity by preventing accidental            modifications

Q8-> What is a hash table, and how does it relate to dictionaries in Python?
    ->It also stores data like dictionary using key value pair
    ->Difference between them is hash table is unordered while dictionary maitains order

Q9-> Can lists contain different data types in Python?
    ->Yes, list contain heterogenous data type

Q10-> Explain why strings are immutable in Python?
     ->'str' object does not support item assignment
     ->If we modify a string, Python creates a new string instead of modifying the original.

Q11-> What advantages do dictionaries offer over lists for certain tasks?
      ->In dictionary values can be easily accessible through key while in list we have to                remeber index
      ->Dictionaries uses hash table, providing average O(1) time complexity for lookups,while
        Lists require a linear search, resulting in O(n) time complexity.

Q12-> Describe a scenario where using a tuple would be preferable over a list?
      ->Tupples are immutable and stores heterogenous data
      ->It is used for prevention of data modification
        eg->Storing person adhar card number
            adhar_card=("Swayam",123-456-789)

Q13-> How do sets handle duplicate values in Python?
      ->Sets automatically remove duplicate values because they are designed to store only unique         elements. 

Q14-> How does the “in” keyword work differently for lists and dictionaries?
      ->'in' with Lists Searches through each element one by one
      ->'in' with Dictionaries checks if a key exists, NOT values.

Q15-> Can you modify the elements of a tuple? Explain why or why not?
        ->No we can't modify it as tupple is immutable
        ->We can only modify it by creating another duplicate tupple and changing it's one value

Q16-> What is a nested dictionary, and give an example of its use case?
    ->It means multiple dictionaries are present in one Dictionary
    -> ex- resturant-menu
        restaurant_menu = 
    {
    'Dish1': {'name': 'Pasta Carbonara', 'price': 15.99, 'description': 'Creamy pasta with bacon                and parmesan'},
    'Dish2': {'name': 'Chicken Caesar Salad', 'price': 12.50, 'description': 'Grilled chicken                   with romaine lettuce and Caesar dressing'},
    'Dish3': {'name': 'Margherita Pizza', 'price': 14.00, 'description': 'Pizza topped with                    tomato, mozzarella, and basil'}
    }

Q17-> Describe the time complexity of accessing elements in a dictionary?
     -> As dictionary uses hash table so it's avg time complexity of accessing elements in a              dictionary is O(1).

Q18-> In what situations are lists preferred over dictionaries?
      -> For storeing duplicate elements
      -> Lists maintain order
      -> Accessing by Index
        Above these 3 cases lists are preferred

Q19-> Why are dictionaries considered unordered, and how does that affect data retrieval?
      ->Dictionaries are unordered because they use a hash table, which organizes data by key             rather than position.
      ->So data retrival occur through key

Q20->  Explain the difference between a list and a dictionary in terms of data retrieval.
      ->As dictionary is unorderd, so data retrieval occurs through 'key'
      ->But in list order is preserved so data retrieval occurs through index
-------------------------------------------xxxxx--------------------------------------------------

# Practical Questions

Q1-> Write a code to create a string with your name and print it

In [ ]:
name=input("Enter ur name :")
print(name)
"""
o/p->
Enter ur name : Swayam
Swayam
"""

Q2-> Write a code to find the length of the string "Hello World"

In [4]:
str="Hello World"
print("length =",len(str))
#o/p-> length = 11

length = 11

Q3->Write a code to slice the first 3 characters from the string "Python Programming"

In [5]:
s = "Python Programming"
print("1st 3 charectors are :",s[0:3])
#o/p-> 1st 3 charectors are : Pyt

1st 3 charectors are : Pyt

Q4->  Write a code to convert the string "hello" to uppercase

In [6]:
s = 'hello'
print("upper case of s =",s.upper())
# o/p->upper case of s = HELLO

upper case of s = HELLO

Q5->  Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [7]:
s = "I like apple"
print("before modification :",s)
s = s.replace("apple","orrange")
print("after modification :",s)
# o/p-> 
# before modification : I like apple
# after modification : I like orrange

before modification : I like apple
after modification : I like orrange

Q6-> Write a code to create a list with numbers 1 to 5 and print it

In [1]:
list1 = list(range(1, 6))
print(list1)
# o/p->
# [1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

Q7-> Write a code to append the number 10 to the list [1, 2, 3, 4]

In [2]:
l1=[1, 2, 3, 4]
print("before append :",l1)
l1.append(10)
print("After append : ",l1)
# o/p->
# before append : [1, 2, 3, 4]
# After append :  [1, 2, 3, 4, 10]

before append : [1, 2, 3, 4]
After append :  [1, 2, 3, 4, 10]

Q8-> Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [3]:
l1=[1, 2, 3, 4, 5]
l1.remove(3)
print("After removal :",l1)

After removal : [1, 2, 4, 5]

Q9-> Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [5]:
l1=['a', 'b', 'c', 'd']
print("Second element =",l1[1])

Second element = b

Q10-> Write a code to reverse the list [10, 20, 30, 40, 50].

In [8]:
l1=[10, 20, 30, 40, 50]
l1.reverse()
print("After reversing list =",l1)

After reversing list = [50, 40, 30, 20, 10]

Q11-> Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [1]:
t=(100,200,300)
print(t)

(100, 200, 300)

Q12-> Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')?

In [2]:
t1=('red', 'green', 'blue', 'yellow')
print("Second to last elements are: ",t1[1:])

Second to last elements are:  ('green', 'blue', 'yellow')

Q13->Write a code to find the minimum number in the tuple (10, 20, 5, 15)?

In [6]:
t=(10, 20, 5, 15)
min=100
for i in t:
    if i<min:
        min=i
print("Minimum number: ",min)

Minimum number:  5

Q14->Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

t=('dog', 'cat', 'rabbit')
print("Index of cat: ",t.index('cat'))

Q15->Write a code to create a tuple containing three different fruits and check if "kiwi" is in it

In [13]:
s=input("Enter 3 fruits: ")
tf=(s.split(','))
if "kiwi" in tf:
    print("Kiwi is present")
else:
    print("Kiwi is not present")
# o/p->
# Enter 3 fruits:  apple,banana,mango
# Kiwi is not present

Enter 3 fruits:  apple,banana,mango

Kiwi is not present

Q16-> Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [1]:
st={'a', 'b', 'c'}
print(st)
# o/p->
# {'c', 'b', 'a'}

{'c', 'b', 'a'}

Q17->Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [2]:
st= {1, 2, 3, 4, 5}
print("Before clearing elements are:",st)
st.clear()
print("After clearing elemenst are:",st)
# o/p->
# Before clearing elements are: {1, 2, 3, 4, 5}
# After clearing elemenst are: set()

Before clearing elements are: {1, 2, 3, 4, 5}
After clearing elemenst are: set()

Q18->Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [3]:
st= {1, 2, 3, 4}
st.remove(4)
print("Set after removing 4:",st)
# o/p->
# Set after removing 4: {1, 2, 3}

Set after removing 4: {1, 2, 3}

Q19-> Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [4]:
st1={1, 2, 3}
st2={3, 4, 5}
print("Union of set1 and set2:",st1|st2)
# o/p->
# Union of set1 and set2: {1, 2, 3, 4, 5}

Union of set1 and set2: {1, 2, 3, 4, 5}

Q20-> Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [5]:
st1={1, 2, 3}
st2={2, 3, 4}
print("Intersection of set1 and set2:",st1&st2)
# o/p->
# Intersection of set1 and set2: {2, 3}

Intersection of set1 and set2: {2, 3}

Q21-> Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [9]:
dict1={
    "name":"Swayam",
    "age": 20,
    "city":"Bhubaneswar"
}
print(dict1)
# o/p->
# {'name': 'Swayam', 'age': 20, 'city': 'Bhubaneswar'}

{'name': 'Swayam', 'age': 20, 'city': 'Bhubaneswar'}

Q22-> Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [11]:
d={'name': 'John', 'age': 25}
print("Original dictionary :",d)
d["country"]="USA"
print("Aftera adding new dictionary:",d)
# o/p->
# Original dictionary : {'name': 'John', 'age': 25}
# Aftera adding new dictionary: {'name': 'John', 'age': 25, 'country': 'USA'}

Original dictionary : {'name': 'John', 'age': 25}
Aftera adding new dictionary: {'name': 'John', 'age': 25, 'country': 'USA'}

 Q23-> Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [12]:
d={'name': 'Alice', 'age': 30}
print("Name:",d['name'])
# o/p->
# Name: Alice

Name: Alice

Q24-> 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [13]:
d={'name': 'Bob', 'age': 22, 'city': 'New York'}
print("Deleted value of 'age' key:",d.pop('age'))
print("New dictionary:",d)
# o/p->
# Deleted value of 'age' key: 22
# New dictionary: {'name': 'Bob', 'city': 'New York'}

Deleted value of 'age' key: 22
New dictionary: {'name': 'Bob', 'city': 'New York'}

 Q25-> Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [16]:
d={'name': 'Alice', 'city': 'Paris'}
if 'city' in d:
    print("'city' key exists")
else:
    print("'city' key doesn't exist")
# o/p->
# 'city' key exists

'city' key exists

Q26-> Write a code to create a list, a tuple, and a dictionary, and print them all

In [17]:
my_list = [10, 20, 30, "apple", "banana"]
my_tuple = (100, 200, 300, "cat", "dog")
my_dict = {"name": "Alice","age": 25,"city": "New York"}
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)
# o/p->
# List: [10, 20, 30, 'apple', 'banana']
# Tuple: (100, 200, 300, 'cat', 'dog')
# Dictionary: {'name': 'Alice', 'age': 25, 'city': 'New York'}

List: [10, 20, 30, 'apple', 'banana']
Tuple: (100, 200, 300, 'cat', 'dog')
Dictionary: {'name': 'Alice', 'age': 25, 'city': 'New York'}

Q27-> Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

In [ ]:
l=[5,12,1,9,10]
print("Before sorting:",l)
l.sort()
print("After sorting:",l)
# o/p->
# Before sorting: [5, 12, 1, 9, 10]
# After sorting: [1, 5, 9, 10, 12]

Q28-> Write a code to create a list with strings and print the element at the third index

In [4]:
s="abc,efg,hij,lmn"
l=list(s.split(','))
print("List:",l)
print("element of 3rd index:",l[2])

List: ['abc', 'efg', 'hij', 'lmn']
element of 3rd index: hij

Q29-> Write a code to combine two dictionaries into one and print the result.

In [7]:
d1={'name': 'Alice', 'city': 'Paris'}
d2={"name": "Raj","age": 25,"city": "New York"}
d1.update(d2)
print("Combining two dict:",d1)
# o/p->
# Combining two dict: {'name': 'Raj', 'city': 'New York', 'age': 25}

Combining two dict: {'name': 'Raj', 'city': 'New York', 'age': 25}

Q30-> Write a code to convert a list of strings into a set.

In [9]:
s="abc,efg,hij,lmn"
l=list(s.split(','))
print("List:",l)
st=set(l)
print("Set:",st)
# o/p->
# List: ['abc', 'efg', 'hij', 'lmn']
# Set: {'lmn', 'hij', 'abc', 'efg'}

List: ['abc', 'efg', 'hij', 'lmn']
Set: {'lmn', 'hij', 'abc', 'efg'}